html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html, button, input, select, textarea {
	font-family: sans-serif;
}
html {
	font-size: 100%;
}
body {
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 1226px;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
	height: 100%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: "";
	display: table;
	clear: both;
}
.tps:before{
	content: "";
	display: table;
}
.ly_container{
	width: 1224px;
	margin: 0 auto;
}
/********上面是reset*****/
/*假装有导航条*/
.ao{
	background-color: pink;
	text-align: center;
	height: 140px;
	line-height: 140px;
}
/*本页单独导航*/
.ly_nav_max{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	z-index: 4;
	color: #616161;
	height: 63px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.07);
	top: 0;
	background: #fff;
	width: 100%;
}
.ly_j_nav{
	position: fixed;
	top: -63px;
	left: 0;
	transition: all .3s linear;
}
.ly_nav_left{
	font-size: 18px;
	font-weight: 400;
	line-height: 60px;
	color: #212121;
}
.ly_nav_right{
	margin-top: 17px;
}
.ly_nav_right a{
	color: #616161;
}
.ly_nav_right a:hover{
	color: #ff6700;
}
.ly_nav_right span{
	color: #e0e0e0;
	margin: 0 .25em;
}
/*主体区域*/
/*未登录提示*/
.ly_login{
	background: #f7f7f7;
	width: 100%;
	text-align: center;
	height: 48px;
	line-height: 48px;
	color: #333;
}
.ly_login a{
	color: #ff6700;
	margin-left: 25px;
}
.ly_login .iconfont {
	color: #b5b5b5;
	margin-left: 10px;
}
/*商品详情*/
.ly_section_max{
	padding: 32px 0 12px 0;
	position: relative;
}
/*商品左边轮播*/
.ly_max{
	position: absolute;
}
.ly_section_left{
	width: 560px;
	height: 560px;
	margin-right: 46px;
	position: relative;
}
.ly_img{
	height: 560px;
	position: absolute;
	float: none;
	list-style: none;
}
.ly_section_left a{
	position: absolute;
	top: 50%;
	width: 41px;
	height: 69px;
	margin-top: -35px;
}
.ly_next{
	background-image: url(../img/icon-slides.png);
	background-repeat: no-repeat;
	background-position: -125px 50%;
	right: 0;
}
.ly_next:hover{
	background-position:-42px 50%;
}
.ly_last{
	background-image: url(../img/icon-slides.png);
	background-repeat: no-repeat;
	background-position: -84px 50%;
	left: 0;
}
.ly_last:hover{
	background-position:0 50%;
}
.ly_dot{
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}
.ly_dot li{
	display: inline-block;
	background: #ccc;
	width: 50px;
	height: 3px;
	margin: 0 5px;
	cursor: pointer;
}
.ly_dot .ly_at{
	background: #a3a3a3;
}
/*商品详情右边介绍*/
.ly_section_right{
	text-align: left;
	margin-left: 12px;
	width: 606px;
}
.ly_section_right_01 h1{
	line-height: 1;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: normal;
	color: #212121;
}
.ly_section_right_01 p{
	color: #b0b0b0;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}
.ly_section_right_01 p span{
	color: rgb(255, 74, 0);
	margin: 0;
	padding: 0;
	padding-top: 8px;
}
.ly_price{
	font-size: 18px;
	color: #ff6700;
	border-bottom: 1px solid #e0e0e0;
	padding: 12px 0 20px;
}
.ly_price span {
	text-decoration: line-through;
	font-size: 14px;
	margin-left: 5px;
	color: #b0b0b0;
}
.ly_present{
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}
.ly_tag{
	width: 80px;
	padding: 2px 0;
	text-align: center;
	background: #ff6700;
	color: #fff;
	display: inline-block;
}
.ly_name{
	display: inline-block;
	width: 430px;
	line-height: 26px;
	margin-left: 5px;
}
/*选择地址*/
.ly_site{
	margin: 40px 0;
}
.ly_select{
	background: #fafafa;
	border: 1px solid #e0e0e0;
	padding: 30px 50px 30px 40px;
}
.wrap{
	height:40px;
	border:0;
	position:relative;
}
.wrap .ly_wrap{
	position: absolute;
	top: -7px;
	left: 0px;
	color: #666;
	z-index: 1;
	font-size: 34px;
}
.ly_input{
	color: #333;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	margin:0;
	padding-left: 36px;
	height: 40px;
	border:0;
	background-color: #fafafa;
	cursor: pointer;
}
.ly_input::-webkit-input-placeholder {
	color: #333;
	font-size: 14px;
}
s{
	position:absolute;
	top:1px;
	right:0;
	width:32px;
	height:32px;
}
._citys {
	width: 518px;
	display: inline-block;
	border: 1px solid #ff6700;
	padding: 5px;
	position: relative;
	background-color: #fff;
}
._citys span {
	color: #b0b0b0;
	border-radius: 50%
	text-align: center;
	border-radius: 5px;
	position: absolute;
	right: 13px;
	top: 0px;
	cursor: pointer;
	font-size: 22px;
}
._citys0 {
	color: #ff6700;
	width: 95%;
	height: 34px;
	line-height: 34px;
	display: inline-block;
	border-bottom: 1px solid #e0e0e0;
	padding: 0px 5px;
	margin-left:6px;
}
._citys0 li {
	display: inline-block;
	line-height: 34px;
	font-size: 15px;
	color: #888;
	width: 80px;
	text-align: center;
	cursor: pointer;
}
._citys1 {
	width: 100%;
	display: inline-block;
	padding: 10px 0;
}
._citys1 a {
	width: 68px;
    height: 24px;
	display: inline-block;
	color: #666;
	margin-left: 6px;
	margin-top: 3px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
}
._citys1 a:hover {
	color: #ff6700;
	text-decoration: underline;
}
.AreaS {
	background-color: #05920a !important;
	color: #fff !important;
}
/*选择版本和颜色*/
.ly_versions{
	margin-bottom: 30px;
}
.ly_step_title{
	line-height: 1;
	font-size: 18px;
}
.ly_btn{
	border: 1px dashed #ff6700;
	color: #ff6700;
	margin-top: 15px;
	line-height: 42px;
	height: 42px;
	width: 300px;
}
.ly_btn a{
	font-size: 16px;
	display: block;
	height: 100%;
	padding: 0 27px;
	color: #ff6700;
	text-align: center;
}
.ly_btn_right{
	color: #757575;
}
.ly_btn img {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: -2px;
}
/*已选的产品*/
.ly_list {
	background: #f9f9fa;
	padding: 30px;
	margin-bottom: 30px;
}
.ly_list div{
	list-style: none;
	line-height: 30px;
	color: #616161;
}
.ly_del{
	text-decoration: line-through;
    margin-left: 5px;
}
.ly_list .ly_totlePrice{
	color: #ff6700;
	font-size: 24px;
	padding-top: 20px;
}
/*购买按钮*/
.ly_inform {
	margin-bottom: 20px;
}
.ly_inform>a{
	display: block;
	color: #ff6700;
	width: 298px;
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	border: 1px solid #ff6700;
	background: #fff;
	text-align: center;
	display: inline-block;
	transition: all .4s;
	margin-right: 10px;
}
.ly_inform>a:hover{
	color: #fff;
	background-color: #f25807;
	border-color: #f25807;
}
.ly_inform div{
	display: inline-block;
	width: 140px;
	height: 52px;
	line-height: 52px;
	border: 1px solid #b0b0b0;
	text-align: center;
	font-size: 16px;
	background: #b0b0b0;
	transition: all .4s;
}
.ly_inform div:hover{
	background-color: #757575;
	border-color: #757575;
	color: #fff;
}
.ly_inform div a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
}
.ly_inform div a i{
	vertical-align: middle;
	margin-right: -8px;
	font-size: 40px;
}
.ly_policy{
	margin-bottom: 10px;
}
.ly_policy>li {
	color: #b0b0b0;
	line-height: 31px;
	display: inline-block;
	margin-right: 15px;
}
.ly_policy li i {
	vertical-align: top;
	font-size: 23px;
	display: inline-block;
}
.ly_policy li span {
	vertical-align: top;
	display: inline-block;
	margin-left: 2px;
}
/*销售流程*/
.ly_infomation{
	background: #f5f5f5;
	padding-bottom: 50px;
}
.ly_infomation h3{
	margin: 22px 0;
	font-size: 22px;
	font-weight: normal;
}
.ly_infomation img{
	vertical-align: top;
}
.ly_infomation h3 a{
	float: right;
	font-size: 16px;
	line-height: 34px;
	color: #424242;
	    transition: all .4s;
}
.ly_infomation h3 a:hover{
	color: #ff6700;
}
.ly_infomation h3 a i{
	width: 12px;
	height: 12px;
	padding: 4px;
	margin-left: 4px;
	border-radius: 16px;
	font-size: 12px;
	line-height: 12px;
	background: #b0b0b0;
	color: #fff;
	vertical-align: 1px;
	text-align: center;
	transition: all .4s;
}
.ly_infomation h3 a:hover .ly_back{
	background-color: #ff6700;
}
/*footer区域*/
.personalpage-container{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
}
.personalpage-footer-service{
	padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.personalpage-list-service li{
	position: relative;
	display: inline-block;
	width: 19%;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
.personalpage-list-service i{
	  margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}
.icon-15tianwuliyoutuihuo{
		position: absolute;
    left: 37px;
    font-size: 26px !important;
    top: -1px;
}
.personalpage-list-service li:first-child{
	border-left: 0;
}
.personalpage-list-service a{
	color: #616161;
	text-decoration: none;
	transition: color .2s;
	font-size: 16px;
    line-height: 25px;
}
.personalpage-list-service li a:hover{
	    color: #ff6700;
}
.personalpage-footer-links{
	padding:40px 0;
}
.personalpage-footer-links-left{
	width: 76%;
}
.personalpage-footer-links-left>dl{
	display: inline-block;
	width: 16%
}
.personalpage-footer-links-left>dl>dt{
	margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.personalpage-footer-links-left>dl>dd{
	margin: 10px 0 0;
    font-size: 12px;
}
.personalpage-footer-links-left>dl>dd a{
	color: #757575;
	text-decoration: none;
	transition: color .2s;
	font-size: 12px;
}
.personalpage-footer-links-left>dl>dd a:hover{
	color: #ff6700;
}
.personalpage-footer-links-right{
	width: 22%;
	float: right;
	height: 114.6px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
}
.personalpage-footer-phone{
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.personalpage-foote-time{
	margin: 0 0 16px;
    font-size: 12px;
    color: #616161;
}
.personalpage-footer-links-right>a{
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    display: inline-block;
    border: 1px solid #ff6700;
    text-decoration: none;
    transition: all .4s;
}
.personalpage-footer-links-right>a:hover{
	color: #fff;
    background-color: #f25807;
    border-color: #f25807;
}
/******************************/
.personalpage-info{
	padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.personalpage-info-logo{
	float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../img/logo-footer.png) no-repeat 50% 50%;
}
.personalpage-info-text{
	float: left;
    color: #b0b0b0;
}
.personalpage-info-text>p{
	margin: 0;
    line-height: 18px;
}
.personalpage-sites a{
	color: #757575;
    text-decoration: none;
}
.personalpage-sites a:hover{
	color: #ff6700;
}
.personalpage-sep{
	line-height: 18px;
	margin: 3px 0;
	color: #b0b0b0;
}
.personalpage-sites-last a{
	color: #b0b0b0;
	text-decoration: none;
}
.personalpage-sites-last a:hover{
	color: #ff6700;
}
.personalpage-info-links{
	float: right;
    height: 28px;
    margin: 4px 0 0;
}
.personalpage-info-links a{
	display: inline-block;
	width: 85px;
	height: 28px;
}
.personalpage-slogan{
	clear: both;
    width: 267px;
    height: 19px;
    margin: 30px auto 0;
    background: url(../img/slogan2016.png) no-repeat center 0;
}
/*引入的头部*/
.order_container:after,
.order_header_left:after,
.order_header_right:after,
.order_logo_img:after,
.order_nav_list:after,
.clear:after,
.order_input_tip > ul > li > a:after,
.order_min_hd_bottom:after {
  content: "";
  display: table;
  clear: both;
}
.order_header2:before {
  content: "";
  display: table;
}
.order_header {
  width: 100%;
  color: #b0b0b0;
  background: #333;
}
.order_header a {
  display: inline-block;
  color: #b0b0b0;
  height: 100%;
}
.order_container {
  width: 1226px;
  margin: auto;
  position: relative;
}
.order_header {
  font-size: 12px;
}
.order_header_left {
  float: left;
}
.order_header_right {
  float: right;
}
.order_header_right > ul > li {
  float: left;
  position: relative;
  padding: 0 10px;
  height: 40px;
  line-height: 38px;
  vertical-align: middle;
  background: #333;
}
.order_personal,
.order_car {
  position: absolute;
  z-index: 10;
}
.order_header_right_line {
  position: absolute;
  right: 0;
  top: 0;
  color: #424242;
}
.order_personal_xiala {
  display: inline-block;
  width: 24px;
  text-align: center;
  line-height: 38px;
}
.order_personal_xiala i {
  font-size: 12px;
}
.order_personal {
  padding: 7px 0;
  background: white;
  width: 100%;
  left: 0px;
  top: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: none;
}
.order_personal li {
  padding: 0 ;
  margin: 0;
  text-align: center;
  width: 100%;
  margin: auto;
  line-height: 30px ;
  height: 30px ;
}
.order_personal li a {
  display: inline-block;
  line-height: 30px;
  width: 100%;
}
.order_personal > li:hover .order_personal > li > a {
  color: #ff6700;
}
.order_personal > li > a:hover {
  color: #ff6700;
  background: #eee;
}
.order_personal_li:hover {
  background: white;
}
.order_personal_li:hover .order_header_right_line {
  color: white;
}
.order_personal_li a {
  position: relative;
}
.order_header_left ul li {
  float: left;
  height: 40px;
  line-height: 38px;
  vertical-align: middle;
  position: relative;
}
.order_header_line {
  margin: 0 6px;
  color: #424242;
}
.order_down_li:hover .order_down {
  display: block;
}
.order_down {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -62px;
  padding: 18px 0 14px;
  width: 124px;
  background: white;
  text-align: center;
  box-shadow: #aaaaaa 0px 1px 5px;
  display: none;
  z-index: 10;
}
.order_down img {
  margin: 0 auto;
  width: 90px;
  height: 90px;
}
.order_down div {
  font-size: 14px;
  margin-top: 14px;
  line-height: 1;
}
.order_massage {
  color: white;
  font-size: 22px;
  position: absolute;
  top: -22px;
  left: 50%;
  margin-left: -11px;
}
.order_header_right > ul > li > a:hover {
  color: white;
}
.order_header_left > ul > li > a:hover {
  color: white;
}
.order_header_right > ul > li:last-child {
  margin-left: 15px;
  width: 120px;
}
.order_header_right > ul > li:last-child {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  background: #ff6700;
  position: relative;
}
.order_header_right > ul > li:last-child a {
  color: white;
}
.order_header_right > ul > li:last-child span {
  vertical-align: bottom;
}
.order_header_right > ul > li:last-child img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: -3px;
}
.order_car {
  width: 316px;
  padding: 15px 0 0;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  display: none;
}
.order_car_load {
  margin: 5px 20px 20px;
  text-align: center;
  padding: 20px 0;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  width: 276px;
}
.order_header2 {
  width: 100%;
  height: 100px;
  background: white;
  position: relative;
}
.order_logo {
  width: 55px;
  height: 55px;
  margin-top: 22px;
  margin-right: 7px;
  background: #ff6700;
  float: left;
  overflow: hidden;
}
.order_logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.order_logo_img {
  width: 110px;
  height: 55px;
  transition: all 0.2s;
  margin-left: -55px;
}
.order_logo_img img {
  width: 55px;
  float: left;
}
.order_logo:hover .order_logo_img {
  margin-left: 0;
}
.order_nav {
  float: left;
  width: 850px;
  height: 100px;
}
.order_nav_list {
  position: relative;
  float: left;
  width: 820px;
  height: 88px;
  margin: 12px 0 0 0;
  padding: 0px 0 0 30px;
  font-size: 16px;
}
.order_nav_list > li {
  float: left;
}
.order_nav_list > li > a {
  display: block;
  padding: 27px 10px 39px;
  color: #333;
  text-decoration: none;
}
.order_nav_list .order_nav_first {
  position: relative;
  float: left;
  width: 127px;
  padding-right: 15px;
}
.order_nav_list .order_nav_first > a {
  display: block;
  padding: 27px 0 39px;
  text-align: right;
  color: #333;
}
.order_nav_list > ul > li > a:hover {
  text-decoration: none;
}
.order_nav_form {
  float: right;
  width: 296px;
  margin-top: 25px;
  background: white;
  position: relative;
  z-index: 1;
}
.order_nav_form form {
  position: relative;
  width: 296px;
  height: 50px;
}
.order_nav_form form [type="text"] {
  position: absolute;
  top: 0;
  right: 51px;
  z-index: 1;
  width: 245px;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 50px;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.order_nav_form form [type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 52px;
  height: 52px;
  border: 1px solid #e0e0e0;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  background: white url(../img/search.png) no-repeat center;
  background-size: 23px 23px;
}
.order_nav_form [type="submit"]:hover {
  background: #ff6700 url(../img/search01.png) no-repeat center;
  background-size: 23px 23px;
}
.order_hot_words {
  position: absolute;
  top: 14px;
  right: 62px;
  z-index: 7;
  text-align: right;
}
.order_hot_words a {
  display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 12px;
  background: #eee;
  color: #757575;
  transition: all .2s;
}
.order_hot_words > a:hover {
  color: white;
  background: #ff6700;
}
.order_input_tip {
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 8;
  width: 245px;
  border: 1px solid #ff6700;
  border-top: 0;
  background: #fff;
  display: none;
}
.order_input_tip ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.order_input_tip ul li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.order_input_tip ul li a {
  position: relative;
  display: block;
  padding: 6px 15px;
  font-size: 12px;
  color: #424242;
}
.order_input_tip > ul > li:hover {
  background: #eee;
}
.order_tip_left {
  float: left;
}
.order_tip_right {
  position: absolute;
  right: 15px;
  top: 6px;
  color: #b0b0b0;
}
.in_tcMenu {
  position: absolute;
  height: 230px;
  top: 100px;
  left: 0;
  display: none;
  width: 100%;
  overflow: hidden;
  background: #fff;
  z-index: 100;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
}
.da {
  width: 1226px;
  text-align: center;
  position: relative;
  margin: auto;
}
.in_tc {
  width: 100%;
  position: relative;
  float: left;
  margin: auto;
}
.in_tc li {
  float: left;
}
.in_tdq {
  text-align: center;
  width: 180px;
  margin: 35px 12px 0;
  position: relative;
}
.in_tdq a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../img/boder.jpg) no-repeat -9px 0;
  background-size: 20px 135px;
}
.in_tdq:first-child a {
  background: none;
}
.in_nob {
  background: none;
}
.in_tdq img {
  width: 160px;
}
.in_ds img {
  width: 80px;
}
.in_h img {
  height: 110px;
}
.in_ttop {
  line-height: 20px;
  font-size: 12px;
  padding: 1px 20px;
  border: 1px solid #ff6700;
  color: #ff6700;
  display: inline-block;
  position: absolute;
  top: -35px;
  left: 50%;
}
.in_tdq h4 a {
  color: #333;
  font-size: 14px;
  font-weight: normal;
}
.in_tdq p {
  font-size: 12px;
  color: #FF6700;
  height: 20px;
  line-height: 20px;
}
.in_tdq h4:hover a {
  text-decoration: none;
}
.order_menu_div span {
  transition: color 1s;
}
.order_menu_div span:hover {
  color: #ff6700;
}
.icon-iconfuzhi53454 {
  color: #f5f5f5;
}
.order_menu {
  position: absolute;
  top: 88px;
  left: -92px;
  width: 234px;
  height: 460px;
  font-size: 14px;
  border: 1px solid #ff6700;
  background: white;
  display: none;
  z-index: 6;
}
.order_menu ul {
  height: 420px;
  color: #333;
  background: white;
  padding: 20px 0;
}
.order_menu ul li > a {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #424242;
}
.order_menu ul li > a i {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  transform: rotate(-90deg);
  color: #e0e0e0;
}
.order_menu a {
  text-decoration: none;
}
.order_menu_li {
  display: none;
  width: 992px;
  position: absolute;
  left: 250px;
  top: -1px;
  z-index: 24;
  height: 456.5px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  padding: 2px 0;
}
.order_menu_li1 {
  width: 265px;
}
.order_menu_li2 {
  width: 530px;
}
.order_menu_li3 {
  width: 795px;
}
.order_menu_div {
  height: 76px;
  background: white;
}
.order_menu_div a {
  display: inline-block;
  padding: 18px 20px;
  line-height: 40px;
  color: #333;
  transition: color .2s;
}
.order_menu_div a img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  vertical-align: middle;
  transition: all 0.4s linear;
}
.order_menu_div a span {
  line-height: 40px;
}
.order_menu_div:hover .order_menu_div a span {
  color: #ff6700;
}
.order_menu > ul > li:hover {
  background: #ff6700;
}
.order_menu > ul > li:hover .order_menu_li {
  display: block;
}
.personalpage-breadcrumbs {
  height: 40px;
  font-size: 12px;
  background: #f5f5f5;
  line-height: 40px;
  color: #616161;
}
.personalpage-breadcrumbs a {
  color: #757575;
  text-decoration: none;
}
.personalpage-breadcrumbs a:hover {
  color: #424242;
}